[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
designer = "C:/Users/Adriano/.virtualenvs/projetopythondate-vBcuOPyy/Lib/site-packages/PySide6/designer.exe"

[packages]
pyside6 = "*"
pyside6-essentials = "*"

[dev-packages]

[requires]
python_version = "*"
